<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.macports.clamdscan</string>
	<key>Program</key>
	<string>/bin/bash</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
 		<string>-c</string>
	<string>export CLAMDSCAN_QUARANTINE=/opt/Quarantine CLAMDSCAN_LOG=/opt/local/var/log/clamav/clamdscan.log ; /opt/local/bin/clamdscan --reload  &amp;&amp; ( /bin/test -d $CLAMDSCAN_QUARANTINE || /bin/mkdir -p $CLAMDSCAN_QUARANTINE ) &amp;&amp; ( /bin/test -d $CLAMDSCAN_LOG || /bin/mkdir -p $CLAMDSCAN_LOG ) &amp;&amp; echo &quot;Launch daemon org.macports.clamdscan started on `date` …&quot; >> $CLAMDSCAN_LOG &amp;&amp; /usr/bin/nice -n 15 /opt/local/bin/clamdscan --multiscan --quiet --fdpass --move=$CLAMDSCAN_QUARANTINE --log=$CLAMDSCAN_LOG &apos;/&apos; &amp;&amp; echo &quot;Launch daemon org.macports.clamdscan completed on `date`.&quot; >> $CLAMDSCAN_LOG || echo &quot;Launch daemon org.macports.clamdscan exited with error code $? on `date`.&quot; >> $CLAMDSCAN_LOG </string>
	</array>
        <key>RunAtLoad</key>
        <false/>
        <key>StartCalendarInterval</key>
        <array>
                <dict>
                        <key>Weekday</key>
                        <integer>7</integer>
                        <key>Hour</key>
                        <integer>2</integer>
                        <key>Minute</key>
                        <integer>00</integer>
                </dict>
        </array>
	<key>StandardErrorPath</key>
	<string>/var/log/system.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/system.log</string>
</dict>
</plist>
